version: '3.7'

services:
  doumdattgi-backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    env_file:
      - ./.env.docker

  doumdattgi-redis:
    image: redis:latest
    ports:
      - 6379:6379